// *******************************************************
// Name: _junk.scss
// Description: find a place for these styles later.
// *******************************************************



// Junk
// -------------------------------------------------------

// Sub Junk
// ---------------------------

.holiday-sale {
  position: relative;
  background: white;
  padding: 4rem 0;
  color: red;
  box-shadow: 0 0 5px rgba(black, .1);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -130px);
    display: block;
    height: 220px;
    width: 220px;
    background: url('/images/svg/holiday-forest.svg');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size:200px 200px;
  }
  [class^="btn-"] {
    margin-top: 15px;
    color: red;
    text-decoration: none;
    border-color: red;
    &:hover {
      border-color: red;
      background: red;
      color: white;
    }
  }
}

// Offset
// ---------------------------

.junk-offset {
  margin-top: 100px;
}
