// *******************************************************
// Name: _product-panel.scss
// Description: product panels for home page.
// *******************************************************



// Product Panel
// -------------------------------------------------------

// Basic Product Panel
// ---------------------------

.panel--shadow {
  box-shadow: 0 0 5px rgba(black, .1);
}

.product-image {
  min-height: 500px;
}

.product-image__cta {
  position: absolute;
  left: 55%;
  top: 50px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  span:nth-of-type(1) {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: $brand-blue;
  }
  span:nth-of-type(2) {
    display: block;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bold;
    color: lightblue;
  }
  span:nth-last-of-type(3) {
  }
}

.product-image__line1 {
  font-size: 4rem;
  color: $brand-blue;
}

[class^="product-image--"] {
  background: white;
}

.product-image--boots {
  background: url('/images/product-winter-boots.jpg') 30% center no-repeat;
  background-size: 350px 350px;
  height: 100%;
}

.product-image--hiking {
  background: url('/images/prod-hiking-boots.jpg') 30% center no-repeat, white;
  background-size: 380px 350px;
  height: 100%;
}

.product-image--sandals {
  background: url('/images/holiday-uneek.png') 30% center no-repeat, white;
  background-size: 400px 350px;
  height: 100%;
}

.product-image--city {
  background: url('/images/prod-uptown-casual.jpg') 30% center no-repeat, white;
  background-size: 400px 350px;
  height: 100%;
}

.product-image--work {
  background: url('/images/holiday-workboots.png') 30% center no-repeat, white;
  background-size: 400px 350px;
  height: 100%;
}

.product-billboard {
  text-align: center;
  text-transform: uppercase;
}

.product__smText {
  display: block;
  font-size: 2rem;
  margin: 0;
}
.product__lgText {
  display: block;
  font-size: 5rem;
}

.product--mount {
  background: url('/images/home-mountains.jpg') center no-repeat;
  background-size: cover;
  padding: 4rem;
  min-height: 500px;
}
.product--woods {
  background: url('/images/home-trees.jpg') center no-repeat;
  background-size: cover;
  padding: 4rem;
  min-height: 500px;
}

.product--city {
  background: url('/images/holiday-home-city.jpg') center no-repeat;
  background-size: cover;
  padding: 4rem;
  min-height: 500px;
}

.product--beach {
  background: url('/images/home-beach.jpg') center no-repeat;
  background-size: cover;
  padding: 4rem;
  min-height: 500px;
}

.product--work {
  background: url('/images/home-utility.jpg') center no-repeat;
  background-size: cover;
  padding: 4rem;
  min-height: 500px;
}


.product__arrow:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background: url('/images/svg/arrow.svg') left no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  z-index: 9;
}

.product__arrow--reverse:after {
  @extend .product__arrow;
  left: auto;
  right: 100%;
  transform: translateY(-50%) rotate(180deg);
}
