// *******************************************************
// Name: _site-header.scss
// Description: Main site header styles
// *******************************************************



// Main Site Header
// -------------------------------------------------------

// Site Header
// ---------------------------

.site-header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background: $brand-yellow;
  a {
    color: #222;
  }
  a:hover {
    color: red;
    text-decoration: none;
  }
}


// Icons
// ---------------------------
.site-header [class^="icon--"] {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--location {
  background: url('/images/svg/icon-location.svg');
}
.icon--account {
  background: url('/images/svg/icon-account.svg');
}
.icon--cart {
  background: url('/images/svg/icon-cart.svg');
}


// Logo
// ---------------------------

.site-header__logo {
  margin-right: 30px;
  margin-left: 20px;
  float: left;
}

// Search
// ---------------------------
.site-header__search {
  height: 40px;
  background: rgba(white, .3);
  line-height: 40px;
  width: 400px;
  input {
    padding: 0 20px;
    width: 300px;
  }
}

.search-icon {
  background: url('/images/svg/icon-search.svg') no-repeat center 40%;
  display: block;
  width: 50px;
  height: 50px;
  background-size: 20px 20px;
  cursor: pointer;

}

// User Actions
// ---------------------------

.header__actions {
  height: 40px;
}

.user-actions {
  display: flex;
  align-items: center;
  text-align: right;
}

.actions__item {
  margin-right: 20px;
  text-transform: uppercase;
}
.actions__item a {
  display: flex; // flex & align center for spans
  align-items: center;
  font-size: 11px;
  font-weight: bold;
}


// Main Navigation
// ---------------------------

.main-nav {
  font-size: 16px;
  font-weight: bold;
}

.main-nav__list {
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
