// *******************************************************
// Name: _site-header.scss
// Description: Main site header styles
// *******************************************************



// Main Site Header
// -------------------------------------------------------

// Site Header
// ---------------------------

.site-header {
  padding: 20px 0;
  background: $brand-yellow;
  a {
    color: #333;
  }
  a:hover {
    color: red;
    text-decoration: none;
  }
}


// Icons
// ---------------------------
.site-header [class^="icon--"] {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--location {
  background: url('/images/svg/icon-location.svg');
}
.icon--account {
  background: url('/images/svg/icon-account.svg');
}
.icon--cart {
  background: url('/images/svg/icon-cart.svg');
}


// Logo
// ---------------------------

.site-header__logo {
  margin-right: 30px;
  float: left;
}

// Search
// ---------------------------
.site-header__search {
  height: 40px;
  background: rgba(white, .4);
  line-height: 40px;
  width: 50%;
  input {
    padding: 0 20px;
  }
}

.search-icon {
  background: url('/images/svg/icon-search.svg') no-repeat center 40%;
  display: block;
  width: 50px;
  height: 50px;
  background-size: 25px 25px;

}

// User Actions
// ---------------------------

.user-actions {
  display: flex;
  align-items: center;
}

.actions__item {
  margin-right: 20px;
  text-transform: uppercase;
}
.actions__item a {
  display: flex; // flex & align center for spans
  align-items: center;
}
